# 2 - Calculate Endpoints
In this notebook we calculate the trajectory endpoints from the VED data.

In [1]:
import numpy as np
import pandas as pd
import os
import math
import folium
import networkx as nx

from sklearn.cluster import DBSCAN
from collections import Counter

from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [2]:
def get_ends(df):
    return df.head(n=1).append(df.tail(n=1))

The `cluster_ends` function applies the DBSCAN clustering algorithm to the extracted trajectory endpoints. The input is a DataFrame with each trajectory's endpoints (start point and end point) only. The output is the same DataFrame with an added column named `end_id` containing the corresponding cluster identifier, or `-1` for a noise point. The data can later be joined to the original DataFrame and thus mark the start and end of each trajectory.

In [3]:
def cluster_ends(df):
    pts = np.radians(df[['Latitude[deg]', 'Longitude[deg]']])

    # Parameters
    eps_in_meters = 50.0
    num_samples = 10

    # Cluster the data
    earth_perimeter = 40070000.0  # In meters
    eps_in_radians = eps_in_meters / earth_perimeter * (2 * math.pi)

    end_clusters = DBSCAN(eps=eps_in_radians, 
                          min_samples=num_samples,
                          metric='haversine',
                          algorithm='ball_tree').fit_predict(pts)
    df['end_id'] = end_clusters
    return df

The `make_path_map` function creates a Folium map based on a list of DataFrames, each with its own trajectory data. This function serves the `make_link_map` function (see below).

In [4]:
def make_path_map(df_list):
    m = folium.Map()
    
    all_points = []
    for df in df_list:
        points = df[['Latitude[deg]', 'Longitude[deg]']].to_numpy()
        polyline = folium.vector_layers.PolyLine(locations=points)
        polyline.add_to(m)
        all_points.extend(points.tolist())
    m.fit_bounds(all_points)
    return m

The `make_link_map` function creates a Folium map based on a _link_, defined as the two terminal node identifiers.

In [5]:
def make_link_map(node_ini, node_end):
    link_df = trip_df[(trip_df.NodeIni == node_ini) & (trip_df.NodeEnd == node_end)]
    
    path_list = []
    for row in link_df.itertuples(index=False):
        path = df[(df.DayNum == row.DayNum) & (df.VehId == row.VehId)].sort_values(by=['DayNum', 'Timestamp(ms)'])
        path_list.append(path)
    return make_path_map(path_list)

## Read the Data
We prepared the dataset file in the previous notebook, so it is readily available for use. Here, we set up a few variables related to the data folder name and file names.

In [6]:
data_path = "./data"
endpoints_file = os.path.join(data_path, "endpoints.parquet")
parquet_file = os.path.join(data_path, "ved.parquet")

Read the dataset from the parquet file. If this file does not exist, please create it by using the code in the previous notebook: `1-convert-ved.ipynb`

In [7]:
df = pd.read_parquet(parquet_file)

In [8]:
df.head(10)

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h]
10495643,9.558109,2,685,0,42.302569,-83.704196,27.0
10495644,9.558109,2,685,700,42.302569,-83.704196,27.0
10495645,9.558109,2,685,1000,42.302569,-83.704196,30.0
10495646,9.558109,2,685,2500,42.302569,-83.704196,33.0
10495647,9.558109,2,685,2900,42.302580,-83.704604,33.0
10495648,9.558109,2,685,3900,42.302580,-83.704604,38.0
10495649,9.558109,2,685,4900,42.302580,-83.704604,39.0
10495650,9.558109,2,685,5900,42.302580,-83.704604,38.0
10495651,9.558109,2,685,7000,42.302558,-83.705129,37.0
10495652,9.558109,2,685,8000,42.302558,-83.705129,37.0

In [9]:
df[df['Vehicle Speed[km/h]'] == 0].shape

(2574213, 7)

### The Trip DataFrame
The `DayNum` and `VehId` column values uniquely identify individual trips. This means that we can retrieve the data for each trip by grouping by both columns and sorting by the timestamp. The result represents the trip trajectory and it is the source of data for an individual observation for the trajectory clustering process.

In [10]:
trip_df = df.groupby(by=['DayNum', 'VehId']).size().reset_index().rename(columns={0:'Count'})

In [11]:
trip_df['NodeIni'] = -1
trip_df['NodeEnd'] = -1

Here's how the `trip_df` table looks right now.

In [12]:
trip_df.head(10)

     DayNum  VehId  Count  NodeIni  NodeEnd
0  1.002938    550    131       -1       -1
1  1.015493    540    545       -1       -1
2  1.017633    156    690       -1       -1
3  1.025782    588   1150       -1       -1
4  1.054483    267    495       -1       -1
5  1.058991     11    396       -1       -1
6  1.062756    130    452       -1       -1
7  1.065486    174    273       -1       -1
8  1.082547    374    471       -1       -1
9  1.101627    156    697       -1       -1

Each row contains a single trip, but still misses the endpoint node identifiers (`NodeIni` and `NodeEnd`). We are now going to fill in those values so that we can map from any pair of endpoint nodes to the underlying set of trajectories.

In [13]:
def get_trip_ini(row):
    traj = ends_df[(ends_df.DayNum == row.DayNum) & (ends_df.VehId == row.VehId)].head(n=1)
    return traj.end_id.values[0]

def get_trip_end(row):
    traj = ends_df[(ends_df.DayNum == row.DayNum) & (ends_df.VehId == row.VehId)].tail(n=1)
    return traj.end_id.values[0]

## Calculate the Endpoints DataFrame

We start by grouping the data by `DayNum` and `VehId`, thereby identifying unique trajectories.

In [14]:
grp = df.groupby(by=['DayNum', 'VehId'])

Now, we create the endpoints DataFrame, iterating the `get_ends` function through all the grouped data. Each call to the function takes on trip of data.

In [15]:
ends_df = pd.concat([get_ends(d) for k, d in grp])

With all the endpoints identified, we now run the clustering algorithm and store the resulting cluster identifiers in the `end_id` column.

In [16]:
ends_df = cluster_ends(ends_df)

Let's have a look at the data. As you can see, each trip is represented by consecutive row pairs. This arrangement makes it very easy to later group all endpoint cluster identifiers into a list of pairs.

In [17]:
ends_df.head(10)

,DayNum,VehId,Trip,Timestamp(ms),Latitude[deg],Longitude[deg],Vehicle Speed[km/h],end_id
18319338,1.002938,550,413,0,42.291749,-83.682617,13.421875,0
18319468,1.002938,550,413,95300,42.309110,-83.677268,27.218750,1
18315381,1.015493,540,483,0,42.291189,-83.799998,19.000000,2
18315925,1.015493,540,483,478700,42.281186,-83.747657,17.000000,3
18258980,1.017633,156,912,0,42.309303,-83.677652,9.000000,1
18259669,1.017633,156,912,597300,42.286800,-83.780572,58.000000,-1
18323652,1.025782,588,73,0,42.309431,-83.677319,0.000000,1
18324801,1.025782,588,73,1033500,42.244419,-83.764921,16.000000,4
18280024,1.054483,267,647,0,42.289890,-83.737930,35.000000,5
18280518,1.054483,267,647,469700,42.308822,-83.678517,73.000000,1

Now, we fill in the identifiers into the appropriate columns in the trip DataFrame.

In [18]:
trip_df['NodeIni'] = trip_df.apply(get_trip_ini, axis=1)
trip_df['NodeEnd'] = trip_df.apply(get_trip_end, axis=1)

In [19]:
trip_df.head(10)

     DayNum  VehId  Count  NodeIni  NodeEnd
0  1.002938    550    131        0        1
1  1.015493    540    545        2        3
2  1.017633    156    690        1       -1
3  1.025782    588   1150        1        4
4  1.054483    267    495        5        1
5  1.058991     11    396        6        7
6  1.062756    130    452        8        9
7  1.065486    174    273       10       11
8  1.082547    374    471       12        3
9  1.101627    156    697       13       14

In [20]:
df0 = ends_df[ends_df.end_id == 5]

In [21]:
s = df0['Latitude[deg]'].min()
n = df0['Latitude[deg]'].max()
w = df0['Longitude[deg]'].min()
e = df0['Longitude[deg]'].max()

In [22]:
(s, w, n, e)

(42.2892022222, -83.7408405556, 42.2912408333, -83.7378394444)

In [23]:
import requests
import json

In [24]:
overpass_url = "http://overpass-api.de/api/interpreter"

In [25]:
overpass_query = "[out:json];(way[highway]({0},{1},{2},{3}););(._;>;);out body;".format(s, w, n, e)

In [26]:
overpass_query

'[out:json];(way[highway](42.2892022222,-83.7408405556,42.2912408333,-83.7378394444););(._;>;);out body;'

In [27]:
response = requests.get(overpass_url, params={'data': overpass_query})
data = response.json()

In [28]:
list(data.keys())

['version', 'generator', 'osm3s', 'elements']

In [29]:
# data['elements']

In [30]:
from osm.models import OSMNode, OSMWay

In [31]:
nodes = [OSMNode(n['id'], n['lat'], n['lon']) for n in data['elements'] if n['type'] == 'node']

In [32]:
ways = [OSMWay(w['id'], w['nodes'], w['tags']) for w in data['elements'] if w['type'] == 'way']

In [33]:
nodes

[OSMNode(nid=62486495, lat=42.2902074, lon=-83.7409516,
 OSMNode(nid=62486497, lat=42.2903016, lon=-83.7409793,
 OSMNode(nid=62486499, lat=42.2903844, lon=-83.7409465,
 OSMNode(nid=62486501, lat=42.2909053, lon=-83.7407497,
 OSMNode(nid=62486503, lat=42.2911184, lon=-83.7406634,
 OSMNode(nid=62486505, lat=42.2930011, lon=-83.739937,
 OSMNode(nid=62486507, lat=42.2940514, lon=-83.7395408,
 OSMNode(nid=62490557, lat=42.2973528, lon=-83.736998,
 OSMNode(nid=62494758, lat=42.2899286, lon=-83.7405761,
 OSMNode(nid=62494762, lat=42.28903, lon=-83.7395313,
 OSMNode(nid=62499610, lat=42.2893576, lon=-83.7388934,
 OSMNode(nid=62499611, lat=42.2891316, lon=-83.7383457,
 OSMNode(nid=62501564, lat=42.2895035, lon=-83.7386314,
 OSMNode(nid=62501566, lat=42.2895997, lon=-83.7385239,
 OSMNode(nid=62501568, lat=42.2896973, lon=-83.7384449,
 OSMNode(nid=62501571, lat=42.2898006, lon=-83.7383804,
 OSMNode(nid=62501582, lat=42.2903049, lon=-83.7372716,
 OSMNode(nid=62501598, lat=42.2906971, lon=-83.7378573,
 OSMNode(nid=62501600, lat=42.2904827, lon=-83.7375792,
 OSMNode(nid=62506342, lat=42.2927635, lon=-83.7387627,
 OSMNode(nid=62518520, lat=42.2920535, lon=-83.7377169,
 OSMNode(nid=62518525, lat=42.2911692, lon=-83.7393691,
 OSMNode(nid=62518529, lat=42.2909951, lon=-83.7400713,
 OSMNode(nid=62522519, lat=42.2918966, lon=-83.7390848,
 OSMNode(nid=62522521, lat=42.2916926, lon=-83.7378341,
 OSMNode(nid=62524566, lat=42.2963155, lon=-83.7373967,
 OSMNode(nid=62535154, lat=42.2901971, lon=-83.7384947,
 OSMNode(nid=62535157, lat=42.2902673, lon=-83.7384135,
 OSMNode(nid=62535159, lat=42.2904036, lon=-83.7383334,
 OSMNode(nid=62535161, lat=42.2905482, lon=-83.7382707,
 OSMNode(nid=62535164, lat=42.2909564, lon=-83.7381006,
 OSMNode(nid=62535166, lat=42.2913925, lon=-83.7379392,
 OSMNode(nid=62535170, lat=42.29248, lon=-83.7375711,
 OSMNode(nid=62535172, lat=42.2927759, lon=-83.7374741,
 OSMNode(nid=62535173, lat=42.2930128, lon=-83.7373477,
 OSMNode(nid=62535174, lat=42.2934815, lon=-83.7368694,
 OSMNode(nid=62535175, lat=42.2940827, lon=-83.7362541,
 OSMNode(nid=62535176, lat=42.295406, lon=-83.7348885,
 OSMNode(nid=62539152, lat=42.2968636, lon=-83.7371825,
 OSMNode(nid=62546404, lat=42.290889, lon=-83.7394736,
 OSMNode(nid=62551847, lat=42.2896529, lon=-83.7381032,
 OSMNode(nid=62553291, lat=42.29789, lon=-83.7367594,
 OSMNode(nid=62578927, lat=42.2951646, lon=-83.7378235,
 OSMNode(nid=62619712, lat=42.290076, lon=-83.7397572,
 OSMNode(nid=62619714, lat=42.2903982, lon=-83.7396276,
 OSMNode(nid=62619718, lat=42.2954693, lon=-83.7377194,
 OSMNode(nid=62621061, lat=42.2918211, lon=-83.743855,
 OSMNode(nid=62621063, lat=42.2919139, lon=-83.7439509,
 OSMNode(nid=62621065, lat=42.2919577, lon=-83.7439452,
 OSMNode(nid=62621073, lat=42.2927834, lon=-83.7436207,
 OSMNode(nid=303965396, lat=42.289299, lon=-83.7404798,
 OSMNode(nid=303966228, lat=42.2888109, lon=-83.740267,
 OSMNode(nid=305090162, lat=42.289003, lon=-83.7404298,
 OSMNode(nid=305608704, lat=42.2923124, lon=-83.7438082,
 OSMNode(nid=767528506, lat=42.2903368, lon=-83.7380871,
 OSMNode(nid=767528508, lat=42.2905851, lon=-83.7379483,
 OSMNode(nid=767544847, lat=42.289493, lon=-83.7399372,
 OSMNode(nid=767544849, lat=42.2900741, lon=-83.7386917,
 OSMNode(nid=1241482997, lat=42.2925747, lon=-83.7437088,
 OSMNode(nid=1729302233, lat=42.2891148, lon=-83.7404484,
 OSMNode(nid=1729302246, lat=42.2893393, lon=-83.7402982,
 OSMNode(nid=1729302251, lat=42.2894168, lon=-83.7398978,
 OSMNode(nid=1729302255, lat=42.2895312, lon=-83.7400651,
 OSMNode(nid=1729302258, lat=42.2895561, lon=-83.7399423,
 OSMNode(nid=1729302262, lat=42.2896288, lon=-83.7402234,
 OSMNode(nid=1729302264, lat=42.2896436, lon=-83.7399222,
 OSMNode(nid=2342114813, lat=42.290584, lon=-83.7377088,
 OSMNode(nid=2342114814, lat=42.2902184, lon=-83.7372972,
 OSMNode(nid=2342114817, lat=42.2898609, lon=-83.7379125,
 OSMNode(nid=2342114818, lat=42.290156, lon=-83.7373614,
 OSMNode(nid=3203337148, lat=42.2891046, lon=-83.736776,
 OSMNode(nid=3203337149, lat=42.2889598, lon=-83.7368765,
 OSMNode(nid=3203337150, lat=42.2892037, lon=-83.7375052,
 OSMNode(nid=3203337151, lat=42.2890608, lon=-83.7376005,
 OSMNode(nid=3203337152, lat=42.2892133, lon=-83.7380102,
 OSMNode(nid=3218302344, lat=42.2940127, lon=-83.7395554,
 OSMNode(nid=3888442225, lat=42.2886238, lon=-83.7401063,
 OSMNode(nid=4040351195, lat=42.2899057, lon=-83.7378287,
 OSMNode(nid=4040351202, lat=42.290095, lon=-83.7380083,
 OSMNode(nid=4136070258, lat=42.2907579, lon=-83.7395147,
 OSMNode(nid=4136070259, lat=42.2907731, lon=-83.7393562,
 OSMNode(nid=4145217935, lat=42.3000428, lon=-83.7359833,
 OSMNode(nid=4306748071, lat=42.2912549, lon=-83.7413028,
 OSMNode(nid=4353281075, lat=42.2894629, lon=-83.7401105,
 OSMNode(nid=4391894531, lat=42.2893616, lon=-83.7373981,
 OSMNode(nid=4391894532, lat=42.2894238, lon=-83.7408118,
 OSMNode(nid=4391894533, lat=42.2894695, lon=-83.7409051,
 OSMNode(nid=4391894535, lat=42.2902837, lon=-83.7381161,
 OSMNode(nid=4391894536, lat=42.2904318, lon=-83.7390318,
 OSMNode(nid=4393371207, lat=42.2904447, lon=-83.7375321,
 OSMNode(nid=4393371208, lat=42.2910246, lon=-83.7374891,
 OSMNode(nid=4553822169, lat=42.2918797, lon=-83.7439386,
 OSMNode(nid=4555402452, lat=42.2892243, lon=-83.7389342,
 OSMNode(nid=4555402662, lat=42.2872432, lon=-83.7339429,
 OSMNode(nid=4964930135, lat=42.2897537, lon=-83.7385259,
 OSMNode(nid=4964930136, lat=42.2900176, lon=-83.7387794,
 OSMNode(nid=4964930137, lat=42.2906957, lon=-83.739449,
 OSMNode(nid=4964930138, lat=42.2900638, lon=-83.7388377,
 OSMNode(nid=4964930139, lat=42.2897052, lon=-83.73844,
 OSMNode(nid=4964930140, lat=42.289649, lon=-83.7383404,
 OSMNode(nid=4964930146, lat=42.2898469, lon=-83.7384963,
 OSMNode(nid=4964930147, lat=42.289768, lon=-83.7385396,
 OSMNode(nid=4964930148, lat=42.2896641, lon=-83.7386357,
 OSMNode(nid=4964930149, lat=42.2891691, lon=-83.7395797,
 OSMNode(nid=4964930150, lat=42.2891384, lon=-83.739634,
 OSMNode(nid=4964930169, lat=42.2891867, lon=-83.739546,
 OSMNode(nid=4964930171, lat=42.2890821, lon=-83.7394299,
 OSMNode(nid=4964930173, lat=42.2890121, lon=-83.7393484,
 OSMNode(nid=4964930178, lat=42.2889187, lon=-83.7395186,
 OSMNode(nid=4964930187, lat=42.2891769, lon=-83.7395648,
 OSMNode(nid=4964930188, lat=42.289476, lon=-83.7398529,
 OSMNode(nid=4964930189, lat=42.2895545, lon=-83.7398893,
 OSMNode(nid=4964930195, lat=42.2902508, lon=-83.7396869,
 OSMNode(nid=4964930196, lat=42.2902394, lon=-83.7396251,
 OSMNode(nid=4964930197, lat=42.2902159, lon=-83.7395638,
 OSMNode(nid=4964930198, lat=42.2901884, lon=-83.7395337,
 OSMNode(nid=4964930199, lat=42.2901556, lon=-83.7395227,
 OSMNode(nid=4964930200, lat=42.2901197, lon=-83.7395354,
 OSMNode(nid=4964930208, lat=42.2893687, lon=-83.7398531,
 OSMNode(nid=4964930209, lat=42.2894023, lon=-83.7397823,
 OSMNode(nid=4964930210, lat=42.2894124, lon=-83.7397618,
 OSMNode(nid=4964930211, lat=42.289769, lon=-83.7390356,
 OSMNode(nid=4964930212, lat=42.289641, lon=-83.7392962,
 OSMNode(nid=4964930213, lat=42.2894376, lon=-83.7390918,
 OSMNode(nid=4964930214, lat=42.2894292, lon=-83.7390835,
 OSMNode(nid=4964930215, lat=42.2893173, lon=-83.7389718,
 OSMNode(nid=4964930216, lat=42.2902727, lon=-83.7396122,
 OSMNode(nid=4964930217, lat=42.2902564, lon=-83.7395535,
 OSMNode(nid=4964930218, lat=42.2902411, lon=-83.7395242,
 OSMNode(nid=4964930219, lat=42.2902212, lon=-83.7394989,
 OSMNode(nid=4964930220, lat=42.2901937, lon=-83.7394791,
 OSMNode(nid=4964930221, lat=42.2901685, lon=-83.7394712,
 OSMNode(nid=4964930222, lat=42.2901439, lon=-83.7394704,
 OSMNode(nid=4964930223, lat=42.2901152, lon=-83.739472,
 OSMNode(nid=4964930224, lat=42.2900847, lon=-83.7394522,
 OSMNode(nid=4964930225, lat=42.2898709, lon=-83.7392455,
 OSMNode(nid=4964930226, lat=42.2898685, lon=-83.7392091,
 OSMNode(nid=5105627552, lat=42.2960105, lon=-83.7342739,
 OSMNode(nid=5105627553, lat=42.2931148, lon=-83.7372498,
 OSMNode(nid=5105627554, lat=42.2929531, lon=-83.7373933,
 OSMNode(nid=5105627555, lat=42.2928886, lon=-83.7374282,
 OSMNode(nid=5105627556, lat=42.2911679, lon=-83.7380163,
 OSMNode(nid=5105627557, lat=42.2903306, lon=-83.7383737,
 OSMNode(nid=5105627558, lat=42.2901456, lon=-83.7385762,
 OSMNode(nid=5617652736, lat=42.2913018, lon=-83.7412451,
 OSMNode(nid=5617652737, lat=42.2911883, lon=-83.7407039,
 OSMNode(nid=5617652759, lat=42.2911055, lon=-83.7407835,
 OSMNode(nid=5617652760, lat=42.2903988, lon=-83.7410547,
 OSMNode(nid=5617652761, lat=42.2910611, lon=-83.7405798,
 OSMNode(nid=5617652762, lat=42.2902565, lon=-83.740888,
 OSMNode(nid=5617652763, lat=42.2895832, lon=-83.7400446,
 OSMNode(nid=5617652764, lat=42.2902495, lon=-83.7408832,
 OSMNode(nid=5617652765, lat=42.2909266, lon=-83.7408548,
 OSMNode(nid=5617652766, lat=42.290915, lon=-83.7408629,
 OSMNode(nid=5617652767, lat=42.2908851, lon=-83.7408611,
 OSMNode(nid=5617652768, lat=42.2908595, lon=-83.7408618,
 OSMNode(nid=5617652769, lat=42.2908013, lon=-83.7409379,
 OSMNode(nid=5617652770, lat=42.2906774, lon=-83.7409464,
 OSMNode(nid=5617652771, lat=42.2903412, lon=-83.7410781,
 OSMNode(nid=5617652772, lat=42.290293, lon=-83.741089,
 OSMNode(nid=5617652773, lat=42.2902414, lon=-83.7410727,
 OSMNode(nid=5617652774, lat=42.2901965, lon=-83.7410374,
 OSMNode(nid=5617652775, lat=42.2900665, lon=-83.7408761,
 OSMNode(nid=5617652776, lat=42.2895062, lon=-83.7401659,
 OSMNode(nid=5617652777, lat=42.2892, lon=-83.7397745,
 OSMNode(nid=5617652778, lat=42.2891236, lon=-83.7396957,
 OSMNode(nid=5617652779, lat=42.2891028, lon=-83.739695,
 OSMNode(nid=5617652780, lat=42.2892261, lon=-83.7389139,
 OSMNode(nid=5617652781, lat=42.2892254, lon=-83.738894,
 OSMNode(nid=5617652782, lat=42.2892201, lon=-83.7388732,
 OSMNode(nid=5617652783, lat=42.2892127, lon=-83.7388532,
 OSMNode(nid=5617652784, lat=42.2890525, lon=-83.7384601,
 OSMNode(nid=5617652785, lat=42.2890351, lon=-83.7384174,
 OSMNode(nid=5617652786, lat=42.2887684, lon=-83.7377499,
 OSMNode(nid=5617652787, lat=42.2887483, lon=-83.7376994,
 OSMNode(nid=5617652788, lat=42.2887134, lon=-83.7376176,
 OSMNode(nid=5617652789, lat=42.2886236, lon=-83.7373866,
 OSMNode(nid=5617652790, lat=42.2886136, lon=-83.7373431,
 OSMNode(nid=5617652791, lat=42.2884635, lon=-83.7369708,
 OSMNode(nid=5617652792, lat=42.2884166, lon=-83.7369418,
 OSMNode(nid=5617652793, lat=42.2884005, lon=-83.7369092,
 OSMNode(nid=5617652794, lat=42.2882752, lon=-83.7365912,
 OSMNode(nid=5617652795, lat=42.2882658, lon=-83.7365568,
 OSMNode(nid=5617652796, lat=42.2882644, lon=-83.7365233,
 OSMNode(nid=5617652797, lat=42.2882629, lon=-83.7364961,
 OSMNode(nid=5617652798, lat=42.2882138, lon=-83.7363645,
 OSMNode(nid=5617652799, lat=42.288113, lon=-83.7360966,
 OSMNode(nid=5617652800, lat=42.2880862, lon=-83.7360495,
 OSMNode(nid=5617652801, lat=42.2877592, lon=-83.7352333,
 OSMNode(nid=5617652802, lat=42.2877549, lon=-83.7352093,
 OSMNode(nid=5617652803, lat=42.2877424, lon=-83.7351717,
 OSMNode(nid=5617652804, lat=42.2876238, lon=-83.7348718,
 OSMNode(nid=5617652805, lat=42.2872525, lon=-83.733975,
 OSMNode(nid=5617652832, lat=42.289378, lon=-83.7407294,
 OSMNode(nid=5617652833, lat=42.2893442, lon=-83.7406403,
 OSMNode(nid=5617652834, lat=42.2893128, lon=-83.7405324,
 OSMNode(nid=5617652835, lat=42.2892388, lon=-83.7404678,
 OSMNode(nid=5617652836, lat=42.2893084, lon=-83.7403843,
 OSMNode(nid=5617652837, lat=42.2893205, lon=-83.740342,
 OSMNode(nid=5617652838, lat=42.2894324, lon=-83.7401608,
 OSMNode(nid=5617652839, lat=42.28936, lon=-83.7406857,
 OSMNode(nid=5617652840, lat=42.2893278, lon=-83.7405859,
 OSMNode(nid=5617652853, lat=42.2910405, lon=-83.7405872,
 OSMNode(nid=5617652854, lat=42.2910479, lon=-83.740627,
 OSMNode(nid=5617652855, lat=42.2910799, lon=-83.7407968,
 OSMNode(nid=5617652856, lat=42.2910701, lon=-83.7407512,
 OSMNode(nid=5617652857, lat=42.291059, lon=-83.7406917,
 OSMNode(nid=5617652858, lat=42.2902542, lon=-83.7409754,
 OSMNode(nid=5617652859, lat=42.2911249, lon=-83.7405506,
 OSMNode(nid=5617652860, lat=42.2911533, lon=-83.7405405,
 OSMNode(nid=5617652861, lat=42.2911634, lon=-83.7405849,
 OSMNode(nid=5617652862, lat=42.2909478, lon=-83.7395553,
 OSMNode(nid=5617652863, lat=42.2911741, lon=-83.7406333,
 OSMNode(nid=5617652864, lat=42.2910916, lon=-83.7405657,
 OSMNode(nid=5617652865, lat=42.2909038, lon=-83.7393614,
 OSMNode(nid=5617652866, lat=42.2901696, lon=-83.7386601,
 OSMNode(nid=5617652867, lat=42.2909261, lon=-83.7394594,
 OSMNode(nid=5617652868, lat=42.2909062, lon=-83.7393735,
 OSMNode(nid=5617652869, lat=42.2909544, lon=-83.7395773,
 OSMNode(nid=5698992545, lat=42.2881406, lon=-83.7361662,
 OSMNode(nid=5698992546, lat=42.2881773, lon=-83.736273,
 OSMNode(nid=6032966885, lat=42.2921345, lon=-83.7375866,
 OSMNode(nid=6032966886, lat=42.2910265, lon=-83.7379552,
 OSMNode(nid=6032966887, lat=42.2924179, lon=-83.7374912,
 OSMNode(nid=6032969626, lat=42.291218, lon=-83.739242,
 OSMNode(nid=6032969627, lat=42.2911342, lon=-83.7394974,
 OSMNode(nid=6032969628, lat=42.290969, lon=-83.7395592,
 OSMNode(nid=6032969629, lat=42.2914601, lon=-83.7393755,
 OSMNode(nid=6032969630, lat=42.2918262, lon=-83.7390134,
 OSMNode(nid=6033029136, lat=42.2911434, lon=-83.7407682,
 OSMNode(nid=6033029137, lat=42.2910841, lon=-83.7405248,
 OSMNode(nid=6033029138, lat=42.2911525, lon=-83.7408064,
 OSMNode(nid=6033029139, lat=42.2911792, lon=-83.7407538,
 OSMNode(nid=6033029140, lat=42.2911979, lon=-83.7407463,
 OSMNode(nid=6033029141, lat=42.291377, lon=-83.7406743,
 OSMNode(nid=6033029142, lat=42.2909158, lon=-83.740635,
 OSMNode(nid=6033029143, lat=42.2909002, lon=-83.740862,
 OSMNode(nid=6033029144, lat=42.2908608, lon=-83.7407666,
 OSMNode(nid=6033029145, lat=42.2909595, lon=-83.7407293,
 OSMNode(nid=6033029146, lat=42.2909095, lon=-83.739633,
 OSMNode(nid=6033029147, lat=42.2910156, lon=-83.7401852,
 OSMNode(nid=6033029148, lat=42.2909702, lon=-83.7399438,
 OSMNode(nid=6033149904, lat=42.2889475, lon=-83.7403936,
 OSMNode(nid=6033859793, lat=42.2899968, lon=-83.7384447,
 OSMNode(nid=6033859794, lat=42.2899809, lon=-83.7384045,
 OSMNode(nid=6033859795, lat=42.2901253, lon=-83.738609,
 OSMNode(nid=6033859796, lat=42.2900771, lon=-83.7385534,
 OSMNode(nid=6033859797, lat=42.2900533, lon=-83.7385172,
 OSMNode(nid=6033859798, lat=42.2901892, lon=-83.7383764,
 OSMNode(nid=6033859799, lat=42.2902954, lon=-83.7382892,
 OSMNode(nid=6033859800, lat=42.2909531, lon=-83.7380022,
 OSMNode(nid=6033867232, lat=42.2910264, lon=-83.7399259,
 OSMNode(nid=6034222604, lat=42.291846, lon=-83.7439097,
 OSMNode(nid=6801513649, lat=42.2936566, lon=-83.7366902,
 OSMNode(nid=6801513660, lat=42.2938745, lon=-83.7383281,
 OSMNode(nid=6802062706, lat=42.29057, lon=-83.7408764,
 OSMNode(nid=6802062707, lat=42.2905483, lon=-83.740776,
 OSMNode(nid=6802062708, lat=42.2903902, lon=-83.7401564,
 OSMNode(nid=6932249623, lat=42.2929504, lon=-83.7400652,
 OSMNode(nid=6932249624, lat=42.2929067, lon=-83.739864,
 OSMNode(nid=6932249625, lat=42.2929097, lon=-83.7373266,
 OSMNode(nid=6932249626, lat=42.2929692, lon=-83.7372998,
 OSMNode(nid=6932249627, lat=42.295604, lon=-83.7345693,
 OSMNode(nid=6932249628, lat=42.2960048, lon=-83.7341294]

In [34]:
ways

[OSMWay(wid=8722317, name=Wright Street),
 OSMWay(wid=8723036, name=Swift Street),
 OSMWay(wid=8723579, name=Broadway Street),
 OSMWay(wid=8733979, name=Plymouth Road),
 OSMWay(wid=8734192, name=Pontiac Trail),
 OSMWay(wid=8734271, name=Long Shore Drive),
 OSMWay(wid=60923483),
 OSMWay(wid=61508808, name=Moore Street),
 OSMWay(wid=160964165, name=Swift Street),
 OSMWay(wid=222784526, name=Broadway Street),
 OSMWay(wid=222787431, name=Broadway Street),
 OSMWay(wid=225434709),
 OSMWay(wid=314284475),
 OSMWay(wid=401624615),
 OSMWay(wid=410015012, name=Maiden Lane),
 OSMWay(wid=410027434, name=Broadway Street),
 OSMWay(wid=410027435, name=Wall Street),
 OSMWay(wid=412071382),
 OSMWay(wid=413189666, name=Pontiac Trail),
 OSMWay(wid=437517025, name=Argo Dam B2B),
 OSMWay(wid=441448135, name=Argo Dam B2B),
 OSMWay(wid=441448139, name=Broadway Street),
 OSMWay(wid=441448162, name=Moore Street),
 OSMWay(wid=441448163, name=Moore Street),
 OSMWay(wid=441566047, name=Broadway Street),
 OSMWay(wid=482675556),
 OSMWay(wid=506841271),
 OSMWay(wid=506841272),
 OSMWay(wid=506841274),
 OSMWay(wid=506841288),
 OSMWay(wid=506841290),
 OSMWay(wid=506841292),
 OSMWay(wid=506841293),
 OSMWay(wid=506841295),
 OSMWay(wid=506841296),
 OSMWay(wid=506841297),
 OSMWay(wid=506841298),
 OSMWay(wid=524688745, name=Traver Road),
 OSMWay(wid=588147777),
 OSMWay(wid=588147784),
 OSMWay(wid=588147785),
 OSMWay(wid=588147792),
 OSMWay(wid=588147793),
 OSMWay(wid=588147794),
 OSMWay(wid=588147795),
 OSMWay(wid=588147796),
 OSMWay(wid=588147797),
 OSMWay(wid=588147798),
 OSMWay(wid=588147799),
 OSMWay(wid=588147800),
 OSMWay(wid=640398627),
 OSMWay(wid=640398983),
 OSMWay(wid=640398984),
 OSMWay(wid=640403694),
 OSMWay(wid=640403695),
 OSMWay(wid=640511113),
 OSMWay(wid=640511114),
 OSMWay(wid=725363655),
 OSMWay(wid=740427513)]

In [ ]:
import math

In [ ]:
math.log2(631997299)

In [ ]:
locator = Nominatim(user_agent='ann_arbor')

In [ ]:
coordinates = (42.292475, -83.682453)
location = locator.reverse(query=coordinates, timeout=60)
location.raw

## Building the Trip Graph

By looking at the data in the `trip_df` DataFrame, we can immediately see an interesting analysis opportunity. Between two nodes (`NodeIni` and `NodeEnd`), we can build an edge. Yes, I am talking about a directed graph. Let's build it using the known edge information (filtering out any edge with a _noise_ endpoint), and use their frequency as the edge weight.

In [ ]:
ids = ends_df.end_id.to_numpy()

In [ ]:
id_pairs = np.reshape(ids, (ids.shape[0] // 2, 2))

In [ ]:
id_pairs

We can now build the raw list of edges.

In [ ]:
edges = [(id_pairs[i,0], id_pairs[i,1]) for i in range(id_pairs.shape[0]) if id_pairs[i,0] != -1 and id_pairs[i,1] != -1]

A `Counter` object helps in the edge weight calculation and, in a way, embodies the first representation of the trip graph.

In [ ]:
cnt = Counter(edges)

In [ ]:
len(cnt)

## Optional - Create a Graph from Trip Data

For illustration purposes, we now convert the edge informatio into a directed graph. We use the `networkx` package to create the graph and then save it into a `gephi` compatible file format.

In [ ]:
dg = nx.DiGraph()

Create a list of tuples where each tuple contains the terminal node identifiers as well as the trip count.

In [ ]:
data = [(p[0], p[1], cnt[p]) for p in cnt]

This list is now directly fed into the directed graph to instantiate it.

In [ ]:
dg.add_weighted_edges_from(data)

Save the graph to a `gexf` file. This file format is recognized by the `gephi` graph software.

In [ ]:
nx.write_gexf(dg, "./data/ved.gexf")

In [ ]:
edge_df = pd.DataFrame(data, columns=['NodeIni', 'NodeEnd', 'Count'])

In [ ]:
edge_df = edge_df.sort_values(by=['Count'], ascending=False)

In [ ]:
edge_df.head(10)

In [ ]:
m = make_link_map(node_ini=25, node_end=26)

In [ ]:
m.save("./html/map-25-26.html")